<p>We hope your phone is safe and sound with RhinoShield! We are thrilled to announce the Kickstarter launch of our new premium line of iPhone impact protection cases: the SolidSuit. New sophisticated design, same awesome protection!

Help us fund this project and get your hands on the SolidSuit before everyone else. Simply pledge £17 or more on our Kickstarter page (40% off the future msrp).</p>